@{
    ViewData["Title"] = "Admin Page";
}

<div class="text-center">
    <h1 class="display-4">Admin Page</h1>
    <p>
        <a class="btn btn-primary" href="@Url.Action("Create", "Poll")">Create Poll</a>
    </p>
</div>
