@{
    ViewData["Title"] = "Client Page";
}

<div class="text-center">
    <h1 class="display-4">Client Page</h1>
    <p>
        <a class="btn btn-primary" href="@Url.Action("LatestPoll", "Client")">View Latest Poll</a>
    </p>
</div>


