@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to PollApp</h1>
    <p>
        <a class="btn btn-primary" href="@Url.Action("Admin", "Home")">Admin</a>
        <a class="btn btn-secondary" href="@Url.Action("Client", "Home")">Client</a>
    </p>
</div>
