@model Question

@{
    ViewData["Title"] = "SelectAnswer";
}

<h1>Select Answer</h1>
<br />

<h3>@Model.Text</h3>

<form asp-action="SelectAnswer" method="post">
    @foreach (var answer in Model.Answers)
    {
        <label>
            <input type="radio" name="answerId" value="@answer.Id" />
            @answer.Text
        </label>

        <br />
    }

    <input type="hidden" name="questionId" value="@Model.Id" />
    <button type="submit">Submit</button>
</form>

